<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="assets/styles/restaurants.css"/>
</head>
<body>
<%- include('includes/header') %>
<%- include('includes/aside') %>
<main>
    <h1>Recommended restaurants</h1>
    <p>Find your next favorite restaurants with help of our other users!</p>
    <p>We found <%= restaurants.length %> restaurants.</p>
    <ul id="restaurants-list">
        <% for (restaurant of restaurants) { %>
            <%- include('includes/restaurants/restaurant-item', restaurant) %>
        <% } %>
    </ul>
</main>
</body>
</html>
